[Unit]
Description=XAUEX Signal Refresh Timer

[Timer]
OnCalendar=Mon-Fri *-*-* 07:55:00 Europe/London
OnCalendar=Mon-Fri *-*-* 11:25:00 Europe/London
OnCalendar=Mon-Fri *-*-* 08:25:00 America/New_York
Persistent=true
Unit=xauex-signal.service

[Install]
WantedBy=timers.target
